@(title: String)

@main(title) {

    <h1 class="ui block header black">
        @title
        <p class="sub header"> Eyes on Changes :)</p>
    </h1>

    <div id="toolbar" class="ui segment">
        <div id="call-button" class="ui button instagram toggle">
            <i class="icon dashboard"></i>
            <span class="text">Config</span>
        </div>
        <div class="ui button google plus toggle floated right" onclick="location.href = '/';">
            <i class="icon browser"></i>
            <span class="text">Portal</span>
        </div>
    </div>

    <div id="tables" class="two column doubling ui grid equal height"></div>

    <div id="control" class="ui sidebar red vertical menu">
        <div class="header item">Configurations</div>
        <div class="content item">
            <form id="config" class="ui form">
                <div class="field">
                    <label>Owner</label>
                    <input type="text" placeholder="Owner" name="owner" value="kchen">
                </div>
                <div class="field">
                    <label>Repo</label>
                    <input type="text" placeholder="Repo" name="repo" value="pacific-catalog-pricing">
                </div>
                <div class="field">
                    <label>Since</label>
                    <input type="text" placeholder="Since" name="since" value="20140201">
                </div>
                <div class="field">
                    <label>Keywords</label>
                    <textarea name="keywords" style="height : 450px ;">pricing</textarea>
                    <p class="ui label detail bottom right attached">Separated by CRLFs</p>
                </div>
            </form>
        </div>
        <div class="actions item">
            <div id="execute-button" class="ui button positive labeled">
                <i class="icon play"></i>
                <span class="text">Watch</span>
            </div>
        </div>
    </div>

    <div id="spinner"></div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.0/spin.min.js'></script>
    <script src='http://fgnass.github.io/spin.js/jquery.spin.js'></script>
    <script src='@routes.Assets.at("javascripts/github.js")'></script>
}