@(title: String)

@main(title) {

    <h1 class="ui block header black">
        @title
        <p class="sub header">Keep Eyes Opening :)</p>
    </h1>

    <div class="ui animated list">
        <div class="item">
            <i class="map marker icon"></i>
            <div class="content">
                <div class="header">
                    <div class="tiny teal ui button" onclick="location.href='/chief';">Open</div>
                    Chief
                </div>
                <div class="description">FireChief in D3.js</div>
            </div>
        </div>
        <div class="item">
            <i class="map marker icon"></i>
            <div class="content">
                <div class="header">
                    <div class="tiny teal ui button" onclick="location.href='/schema';">Open</div>
                    Schema
                </div>
                <div class="description">CAST Module Schemas</div>
            </div>
        </div>
        <div class="item">
            <i class="map marker icon"></i>
            <div class="content">
                <div class="header">
                    <div class="tiny teal ui button" onclick="location.href='/github';">Open</div>
                    GitHub
                </div>
                <div class="description">GitHub Change Monitor</div>
            </div>
        </div>
    </div>


}
